write a program to demonstrate working with tuples in python.

In [1]:
#Tuples are written with round brackets.
thistuple = ("samsung", "one plus", "apple", "oppo")
print(thistuple)

#Tuples allow duplicate values:
thistuple = ("samsung", "one plus", "samsung", "apple","oppo", "vivo")
print(thistuple)

#Tuple Length
thistuple = tuple(("samsung", "one plus", "apple", "vivo"))
print(len(thistuple))

#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("one plus")
print(type(thistuple))

#Tuple Items - Data Types

tuple1 = ("one plus", "samsung", "apple", "vivo")
tuple2 = (3, 5, 5, 2, 4)
tuple3 = (True, False, False)


print(tuple1)
print(tuple2)
print(tuple3)

#A tuple with strings, integers and boolean values:
tuple1 = ("jpm", 20, True, 40, "male")

print(tuple1)

 #tuples are defined as objects with the data type 'tuple'
mytuple = ("one plus", "vivo", "oppo",)

print(type(mytuple))

('samsung', 'one plus', 'apple', 'oppo')
('samsung', 'one plus', 'samsung', 'apple', 'oppo', 'vivo')
4
<class 'tuple'>
<class 'str'>
('one plus', 'samsung', 'apple', 'vivo')
(3, 5, 5, 2, 4)
(True, False, False)
('jpm', 20, True, 40, 'male')
<class 'tuple'>